<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>NonLinear</title>

    <!-- Le styles -->
    <%= stylesheet_link_tag "/bootstrap/css/bootstrap.css"%>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <%= stylesheet_link_tag "/bootstrap/css/bootstrap-responsive.css"%>
  </head>

  <body>

    <div class="navbar  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/home/index.html#">nonLinear</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/home/index.html#">Главная</a></li>
              <li><a href="#">Вычисления</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Теоретическая справка <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Метод простых интераций</a></li>
                  <li><a href="#">Метод секущих</a></li>
                </ul>
              </li>
              <li><a href="#">Об авторе</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit"  id="main-hero-unit"n>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">View details »</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">View details »</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/hero.html#">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Lumenela 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "/bootstrap/js/jquery.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-alert.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-modal.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-dropdown.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-scrollspy.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-tab.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-tooltip.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-popover.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-button.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-collapse.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-carousel.js" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap-typeahead.js" %>

  

</body><style type="text/css"></style></html>